.collection-preview {
  display: flex;
  // flex: auto;
  // flex-wrap: wrap;
  // flex-direction: column;
  flex-basis: 500px;
  flex-flow: column wrap;
  margin-bottom: 30px;

  .title {
    font-size: 28px;
    margin-bottom: 25px;
  }

  .preview {
    display: flex;
    justify-content: space-between;
  }
}
