.sign-in {
  width: 380px;
  display: flex;
  flex-direction: column;

  .title {
    margin: 10px 0;
  }

  .button-space {
    display: flex;
    justify-content: space-between;
  }
}

@media screen and (max-width: 750px) {
  .sign-in {
    width: 300px;
  }
}
